neural-pulse-workflow.json
{
  "name": "neural-pulse-workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        480,
        272
      ],
      "id": "9f3f3a3a-7bc6-4a57-af58-429962561558",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7175b1a-2bad-4158-bb0d-ef91b64e24c4",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        272
      ],
      "id": "8dc15aab-26d1-41e9-a276-02f0d891a5b2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -192,
        176
      ],
      "id": "43731f93-b5d2-4d93-a219-66dd51e2bd31",
      "name": "TechCrunch RSS"
    },
    {
      "parameters": {
        "url": "https://blog.google/technology/ai/rss/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -192,
        368
      ],
      "id": "e82f32d0-81c3-44b6-a1cf-00c84e4b5142",
      "name": "Google AI RSS"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        32,
        272
      ],
      "id": "289bb8bf-b8e1-4fdf-9829-5df9419ac216",
      "name": "Merge1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are NeuralPulse, an Autonomous AI Intelligence Platform.\n\nAnalyze the latest technology news headlines and generate a daily intelligence report for B.Tech students.\n\nFormat:\n\n# 🧠 NeuralPulse Daily Intelligence Report\n\n## Top Technology Trends\n\n* Trend 1\n* Trend 2\n* Trend 3\n\n## Why They Matter\n\n(Short explanation)\n\n## Skills Students Should Learn\n\n* Skill 1\n* Skill 2\n* Skill 3\n\n## Beginner-Friendly Project Idea\n\n(Project name + 2-3 line description)\n\n## Technologies to Start Learning Now\n\n* Technology 1\n* Technology 2\n* Technology 3\n\n## Technologies Becoming Less Relevant\n\n* Technology 1\n* Technology 2\n\nKeep insights practical, career-focused, and beginner-friendly.\n\nNews Headlines:\n{{ JSON.stringify($input.all().map(item => item.json.title)) }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        704,
        272
      ],
      "id": "311648a6-7d4c-4e36-9864-c3710962ac84",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        784,
        496
      ],
      "id": "b6593f80-1341-457f-a52b-f87aae0313ef",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rbAV7F0WjYoqsddt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1056,
        272
      ],
      "id": "eb8d2700-d3b9-4be4-8b95-227fef83faaa",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "jainsnow47-arch",
          "mode": "list",
          "cachedResultName": "jainsnow47-arch",
          "cachedResultUrl": "https://github.com/jainsnow47-arch"
        },
        "repository": {
          "__rl": true,
          "value": "neural-pulse",
          "mode": "list",
          "cachedResultName": "neural-pulse",
          "cachedResultUrl": "https://github.com/jainsnow47-arch/neural-pulse"
        },
        "filePath": "=reports/{{$now.setZone('Asia/Kolkata').format('yyyy-MM-dd-HH-mm-ss')}}.md",
        "binaryData": true,
        "commitMessage": "=feat: publish NeuralPulse daily intelligence report"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1280,
        272
      ],
      "id": "08f52075-9921-48c9-9b74-7c8a08b7a0f1",
      "name": "Create a file",
      "webhookId": "723ec408-9df8-4e4a-8907-16ae42e8e4c3",
      "credentials": {
        "githubApi": {
          "id": "tb31H43p628w9Eqm",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        272
      ],
      "id": "43d1a6ae-a88f-4060-84d9-4c3fe2b7844e",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Limit": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TechCrunch RSS": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google AI RSS": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "TechCrunch RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google AI RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "02fc013b-5c7e-49c3-949d-2c82d7026e27",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c0b99848f1029fec9f24b1baffc7a4bb081af2c81eb5cad2fdfc61391d15a62"
  },
  "nodeGroups": [],
  "id": "u3Vr6ejEucmgnXuy",
  "tags": []
}